nav {
  font-family: 'Montserrat';
  font-size: 1.8vw;
  color: black;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
}

.active{
  font-weight: 600;
  text-decoration: underline;
  color: black;
}

.nonActive{
  font-weight: 300;
  color: black;
  text-decoration: none;
}

#title{
  font-weight: 900;
  font-size: 5vw;
  color: black;
  text-decoration: none;
}

.p {
  font-family: 'Raleway';
  font-size: 12pt;
  color: black;
  line-height: 1.8em;
}

#titleContainer{
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 3vw;
  color: black;
  text-align: center;
  vertical-align: middle;
  padding-top: 20px;
  text-transform: uppercase;
}

hr {
  width: 10%;
  align: center;
  margin-top: 10px;
  height: 3px;
  background-color: black;
}

h1{
  font-family: 'Montserrat';
  font-weight: 900;
  text-align: center;
  font-size: 10vw;
  margin-bottom: 10px;
}

h4{
  font-family: 'Montserrat';
  font-weight: 300;
  text-align: center;
  font-size: 2vw;
  margin-top: 0;
}

a{
  color: black;
  text-decoration: none;
}

#contact{
  font-family: 'Raleway';
  color: black;
  font-size: 1vw;
}

#postcode{
  line-height: 1.8em;
  margin-left: 44px;
}

#titleContainerContact{
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 3vw;
  color: black;
  text-align: center;
  vertical-align: middle;
  padding-top: 20px;
  text-transform: uppercase;
  width: 60%;
  margin: 0 auto;
}

#titleContact{
  font-family: 'Montserrat';
  font-weight: 900;
  color: black;
  margin-bottom: 30px;
  font-size: 2vw;
}

@media only screen and (max-width: 800px) {
  nav {
    font-size: 1.6vw;
  }

  #title{
    margin-top: 10px;
    font-size: 6vw;
    color: black;
    text-decoration: none;
  }

  .p {
    font-size: 10pt;
    line-height: 1.8em;
  }

  #titleContainer{
    font-size: 3vw;
    padding-top: 5px;
  }

  hr {
    margin-top: 7px;
  }

  #contact{
    font-size: 2vw;
  }

  #postcode{
    line-height: 1.8em;
    margin-left: 28px;
  }

  #titleContainerContact{
    padding-top: 10px;

  }

  #titleContact{
    font-size: 2.5vw;
  }
}

@media only screen and (max-width: 500px) {
  nav {
    font-size: 5vw;
  }

  .active{
    text-decoration: none;
  }

  #title{
    font-size: 7vw;
  }

  #contact{
    font-family: 'Raleway';
    color: black;
    font-size: 3vw;
  }

  #postcode{
    line-height: 1.8em;
    margin-left: 23px;
  }

  #titleContainerContact{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 3vw;
    color: black;
    text-align: center;
    vertical-align: middle;
    padding-top: 20px;
    text-transform: uppercase;
    width: 60%;
    margin: 0 auto;
  }

  #titleContact{
    font-family: 'Montserrat';
    font-weight: 900;
    color: black;
    margin-bottom: 30px;
    font-size: 2vw;
  }

}